<% if (AllCart.length > 0) { %>
  <% AllCart.forEach(card => { %>
    <h1><%= card.name %></h1>
    <h1><%= card.age %></h1>
    <img src="<%= card.avatar %>" alt="Avatar" /> <!-- Відображення аватару -->
    <hr />
  <% }); %>
<% } else { %>
  <h3>No cards yet</h3>
<% } %>
