<form action="/add" method="post" enctype="multipart/form-data">
  <label for="name">Ім'я:</label>
  <input type="text" id="name" name="name" required />
  <br />
  <label for="age">Age:</label>
  <input type="text" id="age" name="age" required />
  <br />
  <label for="avatar">Avatar:</label>
  <input type="file" id="avatar" name="avatar" accept="image/*" required />
  <br />
  <input type="submit" value="Відправити" />
</form>
