<!DOCTYPE html>
<html>
  <head>
    <title>Результат</title>
  </head>
  <body>
    <h1>Результат обробки даних</h1>
    <p>Дякуємо за надіслані дані, <%= name %>! Age: <%= age %></p>
  </body>
</html>